<script type="text/javascript"><!--
google_ad_client = "ca-pub-7308855017893737";
/* RewearMe */
google_ad_slot = "6414942878";
google_ad_width = 240;
google_ad_height = 240;
google_ui_features = "rc:3";
google_ad_type = "image";
google_color_border = "FFFFFF";
google_color_bg = "C3D9FF";
google_color_link = "FFFFFF";
google_color_text = "333333";
google_color_url = "C3D9FF";
//-->
</script>
